<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="MySetting" value="Hello Settings!" />
    <add key="LibSetting" value="Hello from library!" />
  </appSettings>
</configuration>